.head {
    color: #ADB5BD;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 5rem;
    min-width: 100vw;
    height: 10rem;
    width: 100%;
    background-color: #212529;
    text-align: center;
}

.title {
    padding: 5%;
    font-size: 2rem;
}

.welcomeMsg {
    font-size: 1rem;
    color: #607466;
    margin: 5.5%;
}

.random {
    height: 2.5em;
    width: 5rem;
    color: #ADB5BD;
}

.random:hover {
    height: 2.5em;
    width: 5rem;
    color: red;
}

.links {
    /* height: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
}

.btn {
    height: 2.25rem;
    color: #ADB5BD;
    background-color: #212529;
    border: none;
    font-size: 1rem;
}

.btn:hover {
    height: 2.5em;
    width: 5rem;
    color: red;
}

@media (min-width: 500px) {
    .title {
        font-size: 5rem;
    }
    .welcomeMsg {
        font-size: 1.5rem;
    }
}