.notes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.note {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.noteItem {
    position: relative;
    right: 1.25rem;
    min-width: 7rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: green;
    border: black solid 0.25rem;
    margin: 5%;
}